{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Título 1</h1>
    </div>
    <div class="col-4">   
        <img src="assets/img/patan.jfif" class="img-thumbnail">
    </div>

</div>


{{> footer }}